/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md

  tailwind.config = {
        theme: {
          extend: {
            colors: {
              navy: "#0A192F",
              gold: {
                DEFAULT: "#C5A059",
                light: "#E2C285",
                dark: "#A38141",
              },
            },
            fontFamily: {
              serif: ["Playfair Display", "serif"],
              sans: ["Inter", "sans-serif"],
              jp: ['"Noto Serif JP"', "serif"],
            },
          },
        },
      };
 */
@import "tailwindcss";

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

@theme {
  --color-navy: #0a192f;
  --color-gold: #c5a059;
  --color-gold-light: #e2c285;
  --color-gold-dark: #a38141;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --font-jp: "Noto Serif JP", serif;
}

@base {
  body {
    font-family: var(--font-family-serif);
  }
}
